<div class="weather__wrapper">
  <h1 class="weather__title">{{ title }}</h1>

  <select class="weather__select" [(ngModel)]="cityId" name="cityId">
    <option *ngFor="let city of cities" [value]="city.id">
      {{ city.name }}
    </option>
  </select>

  <button class="weather__button" (click)="getWeatherHandler()">
    Show Weather
  </button>

  <ul class="city-weather__list" *ngIf="weathers.length">
    <li *ngFor="let weather of weathers" class="city-weather__list-item">
      {{ weather }}
    </li>
  </ul>
</div>